* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #132A13;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url('/background.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border-radius: 20px;
}

h1 {
  margin-top: 50px;
  font-size: 4em;
}

#month {
  width: 300px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
}

button {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background-color: #132A13;
  border: none;
  color: #ECF39E;
  font-weight: 700;
  transition: 0.5s ease-out;
}

button:focus,
button:hover {
  border: none;
  background-color: #ECF39E;
  color: #132A13;
  outline: none;
}

.disabledBtn {
  background-color: #31572C;
  color: #90A955;
}

.disabledBtn:focus,
.disabledBtn:hover {
  background-color: #31572C;
  color: #90A955;
}



#year {
  width: 300px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
}

#days-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  height: 40%;
  width: 80%;
  border-radius: 30px;
  margin-bottom: 20px;
  gap: 20px;
}

.card {
  height: 15%;
  width: 12%;
  background-color: #132A13;
  color: #ECF39E;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}

form {
  width: 80%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

textarea {
  height: 78%;
  width: 100%;
  padding: 20px;
  border: none;
  color: #ECF39E;
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #31572c81;
  transition: 0.5s ease-in-out;
}

textarea:focus,
textarea:hover {
  color: #132A13;
  background-color: #ECF39E;
  outline: none;
}


#submitBtn {
  height: 40px;
  width: 80px;
  font-size: 1em;
}